<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-app-auth" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AppAuthCordova</name>

    <js-module name="AppAuthCordova" src="www/AppAuthCordova.js">
        <clobbers target="cordova.plugins.AppAuthCordova"/>
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppAuthCordova">
                <param name="ios-package" value="AppAuthCordova"/>
            </feature>
        </config-file>
        <framework src="AppAuth" type="podspec" spec="~> 1.0.0" />

        <source-file src="src/ios/AppAuthCordova.m"/>
    </platform>
</plugin>